* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #FFF;
}

.new-supplier-overlay {
    background: #D0D3D9;
    height: 100vh;
    width: 100vw;
    opacity: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-supplier-modal {
    background: #FFF;
    width: 31.25rem;
    height: 45rem;
    flex-shrink: 0;
}