@import "tailwindcss";

@theme {
  --color-heading-me: #383e49;
}

a {
  color: rgb(93, 92, 92);
}

a:hover {
  color: #448df2;
}

body.dark-mode {
  background: #121212;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(244, 241, 241);
  margin: 0;
  padding: 0;
}

td {
  font-weight: normal;
}

nav {
  background-color: white;
  width: 15%;
}

/* li {
  padding-top: 1rem;
  padding-bottom: 1rem;
} */

.search-bar {
  height: 100px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
}

.modal-header {
  font-weight: 500;
}

/* Modal content */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  height: 750px;
  margin: 1% auto;
  position: relative;
}

.bell {
  width: 102px;
}

.dashboard {
  background-color: blanchedalmond;
  height: 100vh;
}

body > div {
  padding: 4px;
}

/* Mobile sidebar styles */
#mobile-sidebar {
  height: 100vh;
  overflow-y: auto;
}

/* Transition for smooth sliding */
#mobile-sidebar {
  transition: transform 0.3s ease-in-out;
}

/* Ensure content doesn't shift when sidebar opens */
body {
  overflow-x: hidden;
}

/* Overlay styles */
#sidebar-overlay {
  transition: opacity 0.3s ease-in-out;
}

/* switch settings 👇 */
