@import "tailwindcss";

@theme {
  --color-heading-me: #383e49;
}

a {
  color: rgb(93, 92, 92);
}

a:hover {
  color: #448df2;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(244, 241, 241);
  margin: 0;
  padding: 0;
}

td {
  font-weight: normal;
}

nav {
  background-color: white;
  width: 15%;
}

/* li {
  padding-top: 1rem;
  padding-bottom: 1rem;
} */

.search-bar {
  height: 100px;
}

.bell {
  width: 102px;
}

.dashboard {
  background-color: blanchedalmond;
  height: 100vh;
}

body > div {
  padding: 4px;
}
