a {
  color: rgb(93, 92, 92);
}

a:hover {
  color: #448df2;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(203, 202, 202);
  margin: 0;
  padding: 0;
}

nav {
  background-color: white;
  width: 14%;
}
