a {
  color: rgb(93, 92, 92);
}

a:hover {
  color: #448df2;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(203, 202, 202);
  margin: 0;
  padding: 0;
}

nav {
  background-color: white;
  width: 15%;
}

/* li {
  padding-top: 1rem;
  padding-bottom: 1rem;
} */


.search-bar {
  background-color: wheat;
  height: 6.25rem;
  ;
}

.dashboard {
  background-color: blanchedalmond;
  height: 100vh;
}